
<!-- Responsive Navbar -->

<nav class="h-20 px-2 sm:px-4 lg:px-6">
  <!-- for mobile <576px -->
  <div class="flex justify-between sm:hidden">
    <div
      class="logo pt-5 px-4 text-4xl cursor-pointer font-semibold text-pink-400"
    >
      <a href="/">UTKARSH</a>
    </div>
    <div class="menu px-4 py-4">
      <button class="rounded-2xl menu-btn" onclick="showMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-purple-800"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
      <div
        class="hidden menu-modal right-6 absolute z-10 bg-zinc-800 rounded-lg p-4" id="menu-modal"
      >
        <ul class="">
          <li class="text-xl text-pink-300 p-2"><a href="/">Portfolio</a></li>
          <li class="text-xl text-pink-300 p-2"><a href="/blogs">Blogs</a></li>
          <li class="text-xl text-pink-300 p-2">
            <a href="/social">Socials</a>
          </li>
          <li class="text-xl text-pink-300 p-2">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- for large screen >576px -->
  <div class="hidden sm:flex justify-between text-2xl">
    <div
      class="logo text-pink-400 font-extrabold text-5xl cursor-pointer px-8 pt-3"
    >
      <a href="/">UTKARSH</a>
    </div>
    <ul class="flex flex-row">
      <li class="text-2xl text-pink-400 sm:p-2 sm:mt-3 md:p-4"><a href="/">Portfolio</a></li>
      <li class="text-2xl text-pink-400 sm:p-2 sm:mt-3 md:p-4"><a href="/blogs">Blogs</a></li>
      <li class="text-2xl text-pink-400 sm:p-2 sm:mt-3 md:p-4"><a href="/social">Socials</a></li>
      <li class="text-2xl text-pink-400 sm:p-2 sm:mt-3 md:p-4"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>