<%- include('boilerplate.ejs') %> 
<nav class="h-20 flex justify-between">
    <span class="logo text-pink-400 pt-4 pl-10 text-2xl font-extrabold"
      >PRATISHTHA</span
    >
    <ul class="flex space-x-6 py-6 justify-center">
      <li class="text-xl text-purple-800 cursor-pointer font-bold">
        <a href="/">Home</a>
      </li>
      <li class="text-xl text-purple-800 cursor-pointer font-bold">
        <a href="/blogs">Blogs</a>
      </li>
      <li class="text-xl text-purple-800 cursor-pointer font-bold">
        <a href="/about">About Me </a>
      </li>
      <li class="text-xl text-purple-800 cursor-pointer font-bold">
        <a href="/contact"> Contact Me </a>
      </li>
    </ul>
    <span class="login pt-4 pr-10"
      >
      <a href="/login"><button
        class="text-pink-400 font-extrabold text-lg px-2 py-auto rounded hover:rounded-lg"
      >
        Login
      </button></a></span
    >
  </nav>
